{% load static %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'kmtshi/css/kmtshi.css' %}">
    </head>
    <body>
    <h1> <b> KMTSHI: The KMTNet Supernova Hunter's Interface </b> </h1>

    <h2><b>Successfully Logged Out</b></h2>
    <p>Click <a href=" {% url 'login' %}">here</a> to log back in.</p>
    </body>
</html>