{% load static %}
{% load format5d %}
{% load index %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'kmtshi/css/kmtshi.css' %}">
        <style>table,th,td {padding: 10px;} </style>
    </head>
    <body>
    <h1> <b>KMTSHI: The KMTNet Supernova Hunter's Interface </b></h1>
    <h2> <b>Candidates for vetting: {{field}} </b></h2>

    <b>All Candidates:</b> <br/>
    <a href=" {% url 'candidates_field_all' field %}">candidate page</a> <br/>
    <a href=" {% url 'candidates_field_form_all' field %}">candidate form page</a> <br/>
    <br/>
    <b>Candidates with Simbad counterparts ({{ num }}):</b> <br/>
    <a href=" {% url 'candidates_field_simbad' field %}">candidate page</a> <br/>
    <a href=" {% url 'candidates_field_form_simbad' field %}">candidate form page</a> <br/>
    <br/>
    <b>Candidates with NED (but no Simbad) counterparts ({{ num2 }}):</b> <br/>
    <a href=" {% url 'candidates_field_ned' field %}">candidate page</a> <br/>
    <a href=" {% url 'candidates_field_form_ned' field %}">candidate form page</a> <br/>
    <br/>
    <b>Candidates without known Simbad/NED counterparts ({{num3}}):</b> <br/>
    <a href=" {% url 'candidates_field' field %}">candidate page</a> <br/>
    <a href=" {% url 'candidates_field_form' field %}">candidate form page</a> <br/>
    <br/>
    <b>Candidates with bright (m < 16.0 mag) quiescent counterparts:</b> <br/>
    High variability ({{num4}}): <a href=" {% url 'candidates_field_form_var' field 'BH' %}"> candidate form page </a><br/>
    Medium variability ({{num5}}): <a href=" {% url 'candidates_field_form_var' field 'BM' %}"> candidate form page </a><br/>
    Low variability ({{num6}}): <a href=" {% url 'candidates_field_form_var' field 'BL' %}">candidate form page </a><br/>
    <br/>
    <b>Candidates with fainter (m > 16.0 mag) quiescent counterparts:</b> <br/>
    High variability ({{num7}}): <a href=" {% url 'candidates_field_form_var' field 'FH' %}"> candidate form page </a><br/>
    Medium variability ({{num8}}): <a href=" {% url 'candidates_field_form_var' field 'FM' %}"> candidate form page </a><br/>
    Low variability ({{num9}}): <a href=" {% url 'candidates_field_form_var' field 'FL' %}">candidate form page </a><br/>

    </body>
</html>
