{% load static %}
{% load format5d %}
{% load index %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'kmtshi/css/kmtshi.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'kmtshi/js/rango-jquery.js' %}"></script>
        <style>table,th,td {padding: 10px;} </style>
    </head>
    <body>
    <h1> <b>KMTSHI: The KMTNet Supernova Hunter's Interface </b></h1>
    <h2> <b>Candidates for vetting: {{field}} </b></h2>
    <h3> <b>Number of sources (known counterpart): {{number}} </b></h3>
    <p><b><a href=" {% url 'logout' %}">Logout</a></b></p>
    <hr>
    <hr>

        <form method="POST" class="post-form">{% csrf_token %}
            <button rel="group_1" id="all-btn">Select All</button>
            <button rel="group_1" id="none-btn">Select None</button>
            <button rel="group_1" id="invert-btn">Invert Selection</button>
            {% if candidate_list %}
                <fieldset id="group_1">
                {% for candidate in candidate_list %}
                    <div>
                        <h4>{{ form.choices|index:forloop.counter0 }}<a href=" {% url 'detail' candidate.id %}"> (detail) </a></h4>
                        <table>
                            <tr>
                                <td>
                                    FIELD: {{candidate.field}} {{candidate.quadrant}} <br />
                                    ra={{candidate.ra|format5d}}, dec={{candidate.dec|format5d}}<br />
                                    Discovery Date: {{candidate.date_disc}}<br />
                                    Classification: {{candidate.classification}}
                                </td>
                                <td>
                                    <img src="{% static candidate.disc_im %}"/>
                                    <img src="{% static candidate.disc_ref %}"/>
                                    <img src="{% static candidate.disc_sub %}"/>
                                </td>
                                <td>
                                    Object within 5 arcseconds: <br />
                                    Object Type: {{types|index:forloop.counter0}} <br />
                                    Distance (arcsec) = {{distances|index:forloop.counter0|format5d}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                {% endfor %}
                </fieldset>

            <button type="submit" class="save btn btn-default" name="junk">junk</button>
            <button type="submit" class="save btn btn-default" name="bad-sub">bad-sub</button>
            <button type="submit" class="save btn btn-default" name="var-star">variable star</button>
            <button type="submit" class="save btn btn-default" name="star-qso">unsorted star/qso</button>
            {% else %}
                <p>No candidates need vetting.</p>
            {% endif %}
        </form>

    <!--
    {% if candidate_list %}
        {% for candidate in candidate_list %}
            <div>
                <h4><a href=" {% url 'detail' candidate.id %}">{{ candidate.name }}</a></h4>
                <p>FIELD: {{candidate.field}} {{candidate.quadrant}} </p>
                <p>ra={{candidate.ra|format5d}}, dec={{candidate.dec|format5d}}</p>
                <p>Discovery Date: {{candidate.date_disc}}</p>
                <p>Classification: {{candidate.classification}} </p>
                <p>
                    <img src="{% static candidate.disc_im %}"/>
                    <img src="{% static candidate.disc_ref %}"/>
                    <img src="{% static candidate.disc_sub %}"/>
                </p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No candidates need vetting.</p>
    {% endif %} -->
    </body>
</html>