{% load static %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <h1> KMTSHI: The KMTNet Supernova Hunter's Interface </h1>
    <h2> Candidates for vetting: {{field}} </h2>
    <h3> Number of sources: {{number}} </h3>
    <hr>
    <hr>

    {% if candidate_list %}
        {% for candidate in candidate_list %}
            <div>
                <h4><a href=" {% url 'detail' candidate.id %}">{{ candidate.name }}</a></h4>
                <p>FIELD: {{candidate.field}} {{candidate.quadrant}} </p>
                <p>ra={{candidate.ra}}, dec={{candidate.dec}}</p>
                <p>Discovery Date: {{candidate.date_disc}}</p>
                <p>Classification: {{candidate.classification}}
                    {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'classification_edit' candidate.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                </p>
                <p>
                    <img src="{% static candidate.disc_im %}"/>
                    <img src="{% static candidate.disc_ref %}"/>
                    <img src="{% static candidate.disc_sub %}"/>
                </p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No candidates need vetting.</p>
    {% endif %}
    </body>
</html>