{% load static %}
{% load format5d %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'kmtshi/css/kmtshi.css' %}">
        <style>table,th,td {padding: 15px;} </style>
    </head>
    <body>
    <h1> <b>KMTSHI: The KMTNet Supernova Hunter's Interface </b></h1>
    <h2> <b>Candidates for vetting: {{field}} </b></h2>
    <h3> <b>Number of sources: {{number}} </b></h3>
    <p><b><a href=" {% url 'logout' %}">Logout</a></b></p>
    <hr>
    <hr>

    {% if candidate_list %}
        {% for candidate in candidate_list %}
            <div>
                <h4><b><a href=" {% url 'detail' candidate.id %}">{{ candidate.name }}</a></b></h4>
                <table>
                    <tr>
                        <td>
                            FIELD: {{candidate.field}} {{candidate.quadrant}} <br />
                            ra={{candidate.ra|format5d}}, dec={{candidate.dec|format5d}}<br />
                            Discovery Date: {{candidate.date_disc}}<br />
                            Classification: {{candidate.classification}}
                            {% if user.is_authenticated %}
                            <a class="btn btn-default" href="{% url 'classification_edit' candidate.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            {% endif %}
                        </td>
                        <td>
                            <img src="{% static candidate.disc_im %}"/>
                            <img src="{% static candidate.disc_ref %}"/>
                            <img src="{% static candidate.disc_sub %}"/>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No candidates need vetting.</p>
    {% endif %}
    </body>
</html>