{% load static %}
{% load format5d %}
{% load index %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'kmtshi/css/kmtshi.css' %}">
        <style>table,th,td {padding: 10px;} </style>
    </head>
    <body>
    <h1> <b>KMTSHI: The KMTNet Supernova Hunter's Interface </b></h1>
    <h2> <b>Candidates for vetting: {{field}} </b></h2>

    <b>Candidates with known Simbad/Ned counterparts ({{ num }}):</b> <br/>
    <a href=" {% url 'candidates_field_known' field %}">candidate page</a> <br/>
    <a href=" {% url 'candidates_field_form_known' field %}">candidate form page</a> <br/>
    <br/>
    <b>Candidates without known Simbad/Ned counterparts ({{num2}}):</b> <br/>
    <a href=" {% url 'candidates_field' field %}">candidate page</a> <br/>
    <a href=" {% url 'candidates_field_form' field %}">candidate form page</a>

    </body>
</html>
