{% load static %}
{% load format5d %}
{% load index %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'kmtshi/css/kmtshi.css' %}">
        <style>table,th,td {padding: 10px;} </style>
    </head>
    <body>
    <h1> <b>KMTSHI: The KMTNet Supernova Hunter's Interface </b></h1>
    <h2> <b>Candidates for vetting: {{field}} </b></h2>

    <b>Candidates with Simbad counterparts ({{ num }}):</b> <br/>
    <a href=" {% url 'candidates_field_simbad' field %}">candidate page</a> <br/>
    <a href=" {% url 'candidates_field_form_simbad' field %}">candidate form page</a> <br/>
    <br/>
    <b>Candidates with NED (but no Simbad) counterparts ({{ num2 }}):</b> <br/>
    <a href=" {% url 'candidates_field_ned' field %}">candidate page</a> <br/>
    <a href=" {% url 'candidates_field_form_ned' field %}">candidate form page</a> <br/>
    <br/>
    <b>Candidates without known Simbad/NED counterparts ({{num3}}):</b> <br/>
    <a href=" {% url 'candidates_field' field %}">candidate page</a> <br/>
    <a href=" {% url 'candidates_field_form' field %}">candidate form page</a> <br/>
    <br/>
    <b>Candidates with bright (m < 16.0 mag) quiescent counterparts:</b> <br/>
    High variability (stddev > 0.06 mag; {{num4}}): <a href=" {% url 'candidates_field_form_var' field 'H' %}"> candidate form page </a><br/>
    Medium variability (0.06 mag > stddev > 0.02 mag; {{num5}}): <a href=" {% url 'candidates_field_form_var' field 'M' %}"> candidate form page </a><br/>
    High variability (0.02 mag> stddev ; {{num6}}): <a href=" {% url 'candidates_field_form_var' field 'L' %}">candidate form page </a><br/>

    </body>
</html>
