{% load static %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <h1> KMTSHI: The KMTNet Supernova Hunter's Interface </h1>
    <h2> Candidates for vetting </h2>
    <hr>
    <hr>

    {% if candidate_list %}
        {% for candidate in candidate_list %}
            <div>
                <h4><a href=" {% url 'detail' candidate.id %}">{{ candidate.name }}</a></h4>
                <p>FIELD: {{candidate.field}} {{candidate.quadrant}} </p>
                <p>ra={{candidate.ra}}, dec={{candidate.dec}}</p>
                <p>Classification: {{candidate.classification}}
                    {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'classification_edit' candidate.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                </p>
            </div>
            <hr>
        {% endfor %}
        <img src="{% static '/Users/mdrout/Research/KMTNet/kmtshi_testfiles/data/ksp/data/N2188/N2188-1/Q0/B_filter/Subtraction/JPEG_TV_IMAGES/N2188-1.Q0.B.161228_2045.S.061239D772-332826D7.20D204.0D020.0036/N2188-1.Q0.B.161228_2045.S.061239D772-332826D7.20D204.0D020.0036.B-Filter-SOURCE.jpeg' %}" alt="WTF" style="width:121pix;height:121pix;">
        <img src="{% static 'kmtshi/images/test.jpeg' %}" alt="WTFx2" style="width:121pix;height:121pix;">
    {% else %}
        <p>No candidates need vetting.</p>
    {% endif %}
    </body>
</html>