{% load static %}
<html>
    <head>
        <title>kmtshi: {{candidate}} </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <h1> KMTSHI: The KMTNet Supernova Hunter's Interface </h1>
        <h2> Details for {{candidate}} </h2>
        <hr>
        <hr>
        <h3>Basic Information</h3>
        <ul>
            <li> Field: {{candidate.field}} {{candidate.quadrant}} </li>
            <li> Discovery Date: {{candidate.date_disc}} </li>
            <li> ra = {{candidate.ra}}, dec={{candidate.dec}} </li>
            <li> Classification: {{candidate.classification}} </li>
        </ul>
        <hr>
        <h3>Comments:</h3>
        {% for comment in comments_list %}
            <p><b>{{comment.pub_date}}</b> <i>{{comment.author}}</i>: {{comment.text}} </p>
        {% endfor %}
        <h4>Add Comment:</h4>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ comment_form.as_p }}
                <!--<input type="hidden" name="form_type" value="comment-form"/>
                <button type="submit" class="save btn btn-default">Save</button>-->
                <button type="submit" class="save btn btn-default" name="comment-form">Save</button>
            </form>
        <hr>
        {% if user.is_authenticated %}
        <div>
            <h3>Edit the Classification for {{candidate}}</h3>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ class_form.as_p }}
                <!--<input type="hidden" name="form_type" value="class-form"/>
                <button type="submit" class="save btn btn-default">Save</button>-->
                <button type="submit" class="save btn btn-default" name="class-form">Save</button>
            </form>
        </div>
        {% endif %}
        <hr>
        <div>
            <h3>Postage Stamp Images</h3>
            {% if png_list %}
                {% for png in png_list %}
                    <p>{{png.date_txt}} ({{png.obs_date}})</p>
                    <img src="{% static png.B_image.url %}"/>
                    <img src="{% static png.Bref_image.url %}"/>
                    <img src="{% static png.Bsub_image.url %}"/>
                    <img src="{% static png.B_prev_im.url %}"/>
                    <img src="{% static png.V_prev_im.url %}"/>
                    <img src="{% static png.I_prev_im.url %}"/>
                {% endfor %}
            {% else %}
                <p>No candidates need vetting.</p>
            {% endif %}
        </div>


    </body>
</html>


