<html>
    <head>
        <title>kmtshi: {{candidate}} </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <h1> KMTSHI: The KMTNet Supernova Hunter's Interface </h1>
        <h2> Details for {{candidate}} </h2>
        <hr>
        <hr>
        <h3>Basic Information</h3>
        <ul>
            <li> Field: {{candidate.field}} {{candidate.quadrant}} </li>
            <li> Discovery Date: {{candidate.date_disc}} </li>
            <li> ra = {{candidate.ra}}, dec={{candidate.dec}} </li>
            <li> Classification: {{candidate.classification}} </li>
        </ul>
        {% if user.is_authenticated %}
        <dev>
            <h3>Edit the Classification for {{candidate}}</h3>
            <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        </dev>
        {% endif %}

    </body>
</html>


