{% load static %}
{% load index %}
{% load format5d %}
{% load format2d %}
<html>
    <head>
        <title>kmtshi: {{candidate}} </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css">
        {{the_script|safe}}
        {{the_script2|safe}}
        <style> .embed-wrapper1 {width: 50%; height: 475px; margin: 20px;} </style>
        <style> .embed-wrapper2 {width: 50%; height: 725px; margin: 20px;} </style>
        <link rel="stylesheet" href="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.1.min.js" charset="utf-8"></script>
        <style>table,th,td {padding: 5px;} </style>
    </head>
    <body>

        <h1> KMTSHI: The KMTNet Supernova Hunter's Interface </h1>
        <h2> Details for {{candidate}} </h2>
        <hr>
        <hr>
        <h3>Basic Information</h3>
        <ul>
            <li> Field: <a href=" {% url 'candidates_field' candidate.field.subfield %}"> {{candidate.field}}</a> {{candidate.quadrant}} </li>
            <li> Discovery Date: <a href="{% url 'candidates_date' candidate.field.subfield candidate.quadrant.name date_txt%}">{{candidate.date_disc}} </a> </li>
            <li> ra = {{candidate.ra|format5d}}, dec={{candidate.dec|format5d}} </li>
            <li> Classification: {{candidate.classification}} </li>
        </ul>
        <hr>
        <h3>Comments:</h3>
        {% for comment in comments_list %}
            <p><b>{{comment.pub_date}}</b> <i>{{comment.author}}</i>: {{comment.text}} </p>
        {% endfor %}
        <h4>Add Comment:</h4>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ comment_form}}
                <!--<input type="hidden" name="form_type" value="comment-form"/>
                <button type="submit" class="save btn btn-default">Save</button>-->
                <button type="submit" class="save btn btn-default" name="comment-form">Save</button>
            </form>
        <hr>
        {% if user.is_authenticated %}
        <div>
            <h3>Edit the Classification for {{candidate}}</h3>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ class_form }}
                <!--<input type="hidden" name="form_type" value="class-form"/>
                <button type="submit" class="save btn btn-default">Save</button>-->
                <button type="submit" class="save btn btn-default" name="class-form">Save</button>
            </form>
        </div>
        {% endif %}
        <hr>
        <div><h3>Aladin Image</h3></div>
        <!-- insert this snippet where you want Aladin Lite viewer to appear and after the loading of jQuery -->
        <div id="aladin-lite-div" style="width:400px;height:400px;"></div>
        <input id="DSS" type="radio" name="survey" value="P/DSS2/color"><label for="DSS">DSS</label>
        <input id="2MASS" type="radio" name="survey" value="P/2MASS/color"><label for="2MASS">2MASS</label>
        <input id="allwise" type="radio" name="survey" value="P/allWISE/color"><label for="allwise">AllWISE</label>
        <input id="GALEX" type="radio" name="survey" value="P/GALEXGR6/AIS/color"><label for="GALEX">GALEX</label>
        <script type="text/javascript" src="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
        <script type="text/javascript">
            var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:0.08, target: "{{candidate.ra}} {{candidate.dec}}"});
            aladin.addCatalog(A.catalogFromSimbad('{{candidate.ra}} {{candidate.dec}}',0.05,{shape:'circle',color: 'red',onClick: 'showTable'}));
            $('input[name=survey]').change(function() {aladin.setImageSurvey($(this).val());});
        </script>
        <hr>
        <div><h3>Simbad Query</h3></div>
        {% if simbad_q %}
            <table >
                <tr>
                    <td>Main_ID  </td>
                    <td>Offset (")</td>
                    <td>RA  </td>
                    <td>DEC  </td>
                    <td>O_type  </td>
                    <td>sp_type  </td>
                    <td>rvz  </td>
                </tr>
                {% for id,ra,dec,ra2,dec2,ot,st,rv in simbad_q2 %}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{distance|index:forloop.counter0|format2d}}</td>
                        <td>{{ra}}</td>
                        <td>{{dec}}</td>
                        <td>{{ot}}</td>
                        <td>{{st}}</td>
                        <td>{{rv}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No Simbad objects with {{radius}} arcseconds.
        {% endif %}
        <div><h3>NED Query</h3></div>
        {% if ned_q %}
            <table >
                <tr>
                    <td>Name  </td>
                    <td>Offset (")</td>
                    <td>RA  </td>
                    <td>DEC  </td>
                    <td>NED Type  </td>
                    <td>Redshift  </td>
                </tr>
                {% for id,ra,dec,distance,ot,rv in ned_q2 %}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{distance}}</td>
                        <td>{{ra}}</td>
                        <td>{{dec}}</td>
                        <td>{{ot}}</td>
                        <td>{{rv}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No NED objects with {{radius}} arcseconds.
        {% endif %}
        <hr>
        <div>
            <h3>Light Curve Plots</h3>
        </div>
        <div class="embed-wrapper1">
            {{the_div|safe}}
        </div>
        <div class="embed-wrapper2">
            {{the_div2|safe}}
        </div>
        <hr>
        <div>
            <h3>Postage Stamp Images</h3>
            {% if png_list %}
                {% for png in png_list %}
                    <p>{{png.date_txt}} ({{png.obs_date}})</p>
                    <img src="{% static png.B_image.url %}"/>
                    <img src="{% static png.Bref_image.url %}"/>
                    <img src="{% static png.Bsub_image.url %}"/>
                    <img src="{% static png.B_prev_im.url %}"/>
                    <img src="{% static png.V_prev_im.url %}"/>
                    <img src="{% static png.I_prev_im.url %}"/>
                {% endfor %}
            {% else %}
                <p>No candidates need vetting.</p>
            {% endif %}
        </div>


    </body>
</html>


