{% load static %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'kmtshi/css/kmtshi.css' %}">
    </head>
    <body>
    <h1> KMTSHI: The KMTNet Supernova Hunter's Interface  </h1>
    <h2> Index </h2>
    <hr>
    <hr>
    <h3> Database Search: </h3>
    <hr>
    <h4> Search by Name: </h4>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ name_form }}
            <button type="submit" class="save btn btn-default" name="name-form">Search</button>
        </form>
    <p>Naming convention is KSP-[Field]_[Year][Letter]. Example: KSP-E489-1_2016ad </p>
    <hr>
    <h4> Search by Coordinates: </h4>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ coord_form.as_p }}
            <button type="submit" class="save btn btn-default" name="coord-form">Search</button>
        </form>
    <hr>
    <hr>
    {% if field_list %}
        {% for field in field_list %}
            <p> {{field.subfield}}. last date searched = {{field.last_date}}.
                <a href=" {% url 'candidates_field' field.subfield %}">candidates</a>
                <a href=" {% url 'transients_field' field.subfield %}">transients</a>
                <a href=" {% url 'variables_field' field.subfield %}">var_stars</a>
            </p>
        {% endfor %}
    {% else %}
        There are no fields in the databse...
    {% endif %}
    </body>
</html>