{% load static %}
{% load index %}
{% load format5d %}
<html>
    <head>
        <title>kmtshi: candidates</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'kmtshi/css/kmtshi.css' %}">
    </head>
    <body>
    <h1> KMTSHI: The KMTNet Supernova Hunter's Interface  </h1>
    <h2> Results from Database Search </h2>
    <hr>
    <hr>
    <p> Objects whose coordinates are within {{ radius }} arcsec of ra = {{ra}} dec = {{dec}}</p>
    <hr>
    <hr>
    {% if scombo %}
        {% for distance,candidate in scombo %}
            <div>
                <h4><a href=" {% url 'detail' candidate.id %}">{{ candidate.name }} (distance: {{distance}} arcsec) </a></h4>
                <p>FIELD: {{candidate.field}} {{candidate.quadrant}} </p>
                <p>ra={{candidate.ra|format5d}}, dec={{candidate.dec|format5d}}</p>
                <p>Discovery Date: {{candidate.date_disc}}</p>
                <p>Classification: {{candidate.classification}} </p>
                <p>
                    <img src="{% static candidate.disc_im %}"/>
                    <img src="{% static candidate.disc_ref %}"/>
                    <img src="{% static candidate.disc_sub %}"/>
                </p>
            </div>
            <hr>
        {% endfor %}

    {% else %}
        <p>No objects match search query.</p>
    {% endif %}
    </body>
</html>