h1 {
    color: darkcyan;
}

p.absolute {
    position:absolute;
    left: 330px;
    top:0;

}

p.relative {
    position:relative;
}

body {
margin-left: 5%;
margin-right: 5%;
margin-bottom: 5%;
margin-top: 5%;
}
